<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="http://localhost:4200/">
    <img src = "src\\icon.png" alt = "Logo" height="100" width="100" />
    Bus Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/loadmap']">Load Map<span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contactus']">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a href="https://play.google.com/store?hl=en">
        <button type="button" class="btn btn-success">Download Mobile App</button>
      </a>
    </ul>
  </div>
</nav>

