<p> </p>

<div class="container">
    <p> </p>
    <h2>How do I download the mobile application?</h2>
    <p>Please visit Google Play Store, search for the BusTracker. </p>
    <p>Please note that in order to install the application, several requirements must be met.</p>
    <p>Minimum of Android Version 4.3 in order to have service support.</p>
    <p>Minimum of 100MB space to run the applicaiton smoothly.</p>

    <h2>How do I select the Departure and Destination?</h2>
    <p>Enter the starting location and end location that you wish to travel</p>
    <p>Just enter the name of the city, a shop, or any resembalance of a nearby street name or building name</p>
    <p>For fruther precision, you are always welcome to enter longitude and latitude location coordinates</p>
    
    <h2>How to Support Us?</h2>
    <p>Feel free to navigate to the Contact Us Tab to find the required information</p>
    <p>If you think our service is really good, help us improve !</p>
    <p>Feel free to make any donations.</p>
    <p>To make a donation, please contact one our agents via the Hot-line</p>
    <p>Paypal payments and Master card payments are accepted !</p>
</div>
