<p> </p>

<div class="container">
    <h2>Our Contact Details</h2>
    <p>Please Contact the Director in charge</p>
    <p> Name : Dharshana Kasthurirathna</p>
    <p><strong>Email : </strong> dharshana.k@sliit.lk</p>
    <p><strong>Tele : </strong> +94-11-754-4140</p>
</div>
