<p> </p>

<div class="container">
    <h2>About us</h2>
    <h5>Developed countries are provided with the facility of receiving real time
        navigation and guidance for public transport via Google Maps. Presently, 
        there is no proper way for the general public of Sri Lanka to get real time
        information about the public transport systems available in Sri Lanka. Due to this,
        the citizens of Sri Lanka and tourists face various difficulties in using public transport 
        due to the lack of information shared about public transport. In order to address these problems, 
        our client requested us to implement a real time public transport information sharing system where
        the general public can receive and share information about public transport via updates on GPS 
        tracking technologies implemented on this system. By using our system, the users are capable of
        getting a brief idea about the availability, type and status of public transport in a specified
        region or route. This system provides users with current information on public transport on a
        specified location.</h5>
</div>
