<div class="card mb-3">

    <h3 class="card-header">Please enter your Departure & Destination</h3>

    <div class="card-body">
        <h5>
            <form class="form-inline my-2 my-lg-0">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Departure &nbsp;
                <input class="form-control mr-sm-2" #textbox1 type="text" placeholder="Starting Location">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Destination &nbsp;
                <input class="form-control mr-sm-2" #textbox2 type="text" placeholder="Ending Location" required>&nbsp;&nbsp;

                <a class="btn btn-info">Search</a>
            </form>
        </h5>

        <div>
            <agm-map [latitude]="lat" [longitude]="lng" style="height:500px;width:100%">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                <agm-marker [latitude]="abc" [longitude]="edg"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>